In [2]:
#Perform necessary imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [27]:
df = pd.read_csv('german_credit_data.csv', index_col=0)
df.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 85.9+ KB

In [29]:
df['Saving accounts'] = df['Saving accounts'].map({np.nan:0, 'little':1, 'moderate':2, 'quite rich':3, 'rich':4})

In [30]:
df['Checking account'] = df['Checking account'].map({np.nan:0, 'little':1, 'moderate':2, 'rich':3})

In [33]:
df['Sex'] = df['Sex'].factorize()[0]

In [34]:
df.describe(include='object').T

        count unique   top freq
Housing  1000      3   own  713
Purpose  1000      8   car  337
Risk     1000      2  good  700

In [35]:
housing = pd.get_dummies(df['Housing'], drop_first=True, prefix='house', prefix_sep='_')
purpose = pd.get_dummies(df['Purpose'], drop_first=True, prefix='purpose', prefix_sep='_')

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,house_own,house_rent,purpose_car,purpose_domestic appliances,purpose_education,purpose_furniture/equipment,purpose_radio/TV,purpose_repairs,purpose_vacation/others
0,67,0,2,own,0,1,1169,6,radio/TV,good,1,0,0,0,0,0,1,0,0
1,22,1,2,own,1,2,5951,48,radio/TV,bad,1,0,0,0,0,0,1,0,0
2,49,0,1,own,1,0,2096,12,education,good,1,0,0,0,1,0,0,0,0
3,45,0,2,free,1,1,7882,42,furniture/equipment,good,0,0,0,0,0,1,0,0,0
4,53,0,2,free,1,1,4870,24,car,bad,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,1,1,own,1,0,1736,12,furniture/equipment,good,1,0,0,0,0,1,0,0,0
996,40,0,3,own,1,1,3857,30,car,good,1,0,1,0,0,0,0,0,0
997,38,0,2,own,1,0,804,12,radio/TV,good,1,0,0,0,0,0,1,0,0
998,23,0,2,free,1,1,1845,45,radio/TV,bad,0,0,0,0,0,0,1,0,0
999,27,0,2,own,2,2,4576,45,car,good,1,0,1,0,0,0,0,0,0

In [37]:
df = pd.concat([df, housing, purpose], axis=1).drop(['Purpose', 'Housing'], axis=1)

In [38]:
df.head()

,Age,Sex,Job,Saving accounts,Checking account,Credit amount,Duration,Risk,house_own,house_rent,purpose_car,purpose_domestic appliances,purpose_education,purpose_furniture/equipment,purpose_radio/TV,purpose_repairs,purpose_vacation/others
0,67,0,2,0,1,1169,6,good,1,0,0,0,0,0,1,0,0
1,22,1,2,1,2,5951,48,bad,1,0,0,0,0,0,1,0,0
2,49,0,1,1,0,2096,12,good,1,0,0,0,1,0,0,0,0
3,45,0,2,1,1,7882,42,good,0,0,0,0,0,1,0,0,0
4,53,0,2,1,1,4870,24,bad,0,0,1,0,0,0,0,0,0

In [40]:
df.isna().sum()

Age                            0
Sex                            0
Job                            0
Saving accounts                0
Checking account               0
Credit amount                  0
Duration                       0
Risk                           0
house_own                      0
house_rent                     0
purpose_car                    0
purpose_domestic appliances    0
purpose_education              0
purpose_furniture/equipment    0
purpose_radio/TV               0
purpose_repairs                0
purpose_vacation/others        0
dtype: int64